/* HEADER */
#header {
    background: #1b1d4d;
    width: 100%;
    padding: 0 100px;
}
.navbar {
    height: 100px;
}
/* LOGO */
.navbar-logo {
    width: 15%;
    cursor: pointer;
    margin: 0;
}
/* MENU */
.nav-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 55%;
    margin-bottom: 0;
    padding-left: 0;
}
.nav-item {
    text-align: center;
    list-style-type: none;
    color: #ffffff;
}
.item-menu {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #ffffff;
}
.underlined {
    position: relative;
    display: block;
    height: 3px;
}
.underlined:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #e74c3c;
    transition: 0.25s;
}
.nav-item:hover .underlined:before {
    width: 100%;
}
.menu-active > .underlined {
    height: 2px;
    width: 100%;
    background-color: #e74c3c;
}
/* CSS DROPDOWN */
.ul-item-dropdown {
    position: absolute;
    top: 77%;

    display: none;
    min-width: 150px;
    padding: 0;
    text-align: left;
    list-style-type: none;
    background-color: #f4f8fa;
    box-shadow: 0px 12px 30px 0px rgba(0, 0, 0, 0.2);
    color: #000000;
}
.li-item-dropdown {
    height: 32px;
    padding: 5px 5px 5px 10px;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
}
.nav-item:hover .ul-item-dropdown {
    display: block;
}
.li-item-dropdown:hover {
    border-bottom: 2px solid #e74c3c;
    background-color: rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease 0s;
    padding-left: 20px;
}
/* MENU ICON */
.menu-icon {
    display: none;
}
/* SEARCH */
.search {
    position: relative;
    width: 30%;
}
.iconSearch {
    position: absolute;
    top: 12px;
    left: 10px;
    color: #999;
}
.inputSearch {
    padding: 6px 20px 6px 35px !important;
}
/* RESPONSIVE */
@media only screen and (max-width: 768px) {
    #header {
        padding: 0;
    }
    .navbar {
        height: 250px;
    }
    /* NOT DROPDOWN */
    .nav-item:hover .ul-item-dropdown {
        display: none;
    }
    /* MENU */
    .nav-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        position: absolute;
        top: 00px;
        left: -100%;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: #f75006;
        left: 0;
        transition: all 0.5s ease;
        z-index: 1;
    }
    .underlined {
        display: none;
    }
    .nav-item {
        border-bottom: 1px solid #ffffff;
        width: 100%;
        padding: 10px 0;
    }
    .item-menu {
        font-size: 19px;
        color: #ffffff;
    }
    /* ICON MENU */
    .menu-icon {
        display: block;
        position: absolute;
        top: -20px;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 30px;
        cursor: pointer;
        color: #f75006;
    }
    /* LOGO */
    .navbar-logo {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .navbar-logo > img {
        height: 150px;
        width: auto;
    }
    /* SEARCH */
    .search {
        width: 80%;
        margin: 0 auto;
    }
}
